<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iPhone6/6s Setting</key>
		<dict>
			<key>Dimensions</key>
			<string>{87,87}</string>
			<key>Name</key>
			<string>icon-Small@3x</string>
		</dict>
		<key>iPhone6/6s Spotlight</key>
		<dict>
			<key>Dimensions</key>
			<string>{120,120}</string>
			<key>Name</key>
			<string>icon-Small-40@3x</string>
		</dict>
		<key>iPhone6/6s+</key>
		<dict>
			<key>Dimensions</key>
			<string>{180,180}</string>
			<key>Name</key>
			<string>icon-60@3x</string>
		</dict>
		<key>iPhone Non-Retina (iOS 6.1 and Prior)</key>
		<dict>
			<key>Dimensions</key>
			<string>{57,57}</string>
			<key>Name</key>
			<string>icon</string>
		</dict>
		<key>iPhone Retina (iOS6.1 and Prior)</key>
		<dict>
			<key>Dimensions</key>
			<string>{114,114}</string>
			<key>Name</key>
			<string>icon@2x</string>
		</dict>
		<key>iPhone Retina</key>
		<dict>
			<key>Dimensions</key>
			<string>{120,120}</string>
			<key>Name</key>
			<string>icon-60@2x</string>
		</dict>
		<key>iPhone Spotlight Non-Retina (iOS 6.1 and Prior)</key>
		<dict>
			<key>Dimensions</key>
			<string>{29,29}</string>
			<key>Name</key>
			<string>icon-Small</string>
		</dict>
		<key>iPhone Spotlight Retina (iOS 6.1 and Prior)</key>
		<dict>
			<key>Dimensions</key>
			<string>{58,58}</string>
			<key>Name</key>
			<string>icon-Small@2x</string>
		</dict>
		<key>iPhone Spotlight Retina</key>
		<dict>
			<key>Dimensions</key>
			<string>{80,80}</string>
			<key>Name</key>
			<string>icon-Small-40@2x</string>
		</dict>
		<key>iPhone Setting Non-Retina (iOS 6.1 and Prior)</key>
		<dict>
			<key>Dimensions</key>
			<string>{29,29}</string>
			<key>Name</key>
			<string>icon-Small</string>
		</dict>
		<key>iPhone Setting Retina</key>
		<dict>
			<key>Dimensions</key>
			<string>{58,58}</string>
			<key>Name</key>
			<string>icon-Small@2x</string>
		</dict>
	</dict>
	<dict>
		<key>iPad Non-Retina (iOS 6.1 and Prior)</key>
		<dict>
			<key>Dimensions</key>
			<string>{72,72}</string>
			<key>Name</key>
			<string>icon-72</string>
		</dict>
		<key>iPad Retina (iOS6.1 and Prior)</key>
		<dict>
			<key>Dimensions</key>
			<string>{144,144}</string>
			<key>Name</key>
			<string>icon-72@2x</string>
		</dict>
		<key>iPad Retina</key>
		<dict>
			<key>Dimensions</key>
			<string>{152,152}</string>
			<key>Name</key>
			<string>icon-76@2x</string>
		</dict>
		<key>iPad Non-Retina</key>
		<dict>
			<key>Dimensions</key>
			<string>{76,76}</string>
			<key>Name</key>
			<string>icon-76</string>
		</dict>
		<key>iPad Spotlight Non-Retina (iOS 6.1 and Prior)</key>
		<dict>
			<key>Dimensions</key>
			<string>{50,50}</string>
			<key>Name</key>
			<string>icon-Small-50</string>
		</dict>
		<key>iPad Spotlight Retina (iOS 6.1 and Prior)</key>
		<dict>
			<key>Dimensions</key>
			<string>{100,100}</string>
			<key>Name</key>
			<string>icon-Small-50@2x</string>
		</dict>
		<key>iPad Spotlight Retina</key>
		<dict>
			<key>Dimensions</key>
			<string>{80,80}</string>
			<key>Name</key>
			<string>icon-Small-40@2x</string>
		</dict>
		<key>iPad Spotlight Non-Retina</key>
		<dict>
			<key>Dimensions</key>
			<string>{40,40}</string>
			<key>Name</key>
			<string>icon-Small-40</string>
		</dict>
		<key>iPad Setting Non-Retina</key>
		<dict>
			<key>Dimensions</key>
			<string>{29,29}</string>
			<key>Name</key>
			<string>icon-Small</string>
		</dict>
		<key>iPad Setting Retina</key>
		<dict>
			<key>Dimensions</key>
			<string>{58,58}</string>
			<key>Name</key>
			<string>icon-Small@2x</string>
		</dict>
	</dict>
	<dict>
		<key>Mac Non-Retina Small</key>
		<dict>
			<key>Dimensions</key>
			<string>{16,16}</string>
			<key>Name</key>
			<string>icon_16x16</string>
		</dict>
		<key>Mac Retina Small</key>
		<dict>
			<key>Dimensions</key>
			<string>{32,32}</string>
			<key>Name</key>
			<string>icon_16x16@2x</string>
		</dict>
		<key>Mac Non-Retina Medium</key>
		<dict>
			<key>Dimensions</key>
			<string>{32,32}</string>
			<key>Name</key>
			<string>icon_32x32</string>
		</dict>
		<key>Mac Retina Medium</key>
		<dict>
			<key>Dimensions</key>
			<string>{64,64}</string>
			<key>Name</key>
			<string>icon_32x32@2x</string>
		</dict>
		<key>Mac Non-Retina Icon</key>
		<dict>
			<key>Dimensions</key>
			<string>{128,128}</string>
			<key>Name</key>
			<string>icon_128x128</string>
		</dict>
		<key>Mac Retina Icon</key>
		<dict>
			<key>Dimensions</key>
			<string>{256,256}</string>
			<key>Name</key>
			<string>icon_128x128@2x</string>
		</dict>
		<key>Mac Non-Retina Big</key>
		<dict>
			<key>Dimensions</key>
			<string>{256,256}</string>
			<key>Name</key>
			<string>icon_256x256</string>
		</dict>
		<key>Mac Retina Big</key>
		<dict>
			<key>Dimensions</key>
			<string>{512,512}</string>
			<key>Name</key>
			<string>icon_256x256@2x</string>
		</dict>
		<key>Mac Non-Retina Large</key>
		<dict>
			<key>Dimensions</key>
			<string>{512,512}</string>
			<key>Name</key>
			<string>icon_512x512</string>
		</dict>
		<key>Mac Retina Large</key>
		<dict>
			<key>Dimensions</key>
			<string>{1024,1024}</string>
			<key>Name</key>
			<string>icon_512x512@2x</string>
		</dict>
	</dict>
	<dict>
		<key>iPhone None-Retina Portrait</key>
		<dict>
			<key>Dimensions</key>
			<string>{320,480}</string>
			<key>Name</key>
			<string>Default</string>
		</dict>
		<key>iPhone Retina Portrait</key>
		<dict>
			<key>Dimensions</key>
			<string>{640,960}</string>
			<key>Name</key>
			<string>Default@2x</string>
		</dict>
		<key>iPad Portrait</key>
		<dict>
			<key>Dimensions</key>
			<string>{768,1024}</string>
			<key>Name</key>
			<string>Default-Portrait~iPad</string>
		</dict>
		<key>iPad2/mini Retina Portrait</key>
		<dict>
			<key>Dimensions</key>
			<string>{1536,2048}</string>
			<key>Name</key>
			<string>Default@2x-Portrait~iPad</string>
		</dict>
		<key>iPad/mini None-Retina Landscape</key>
		<dict>
			<key>Dimensions</key>
			<string>{1024,768}</string>
			<key>Name</key>
			<string>Default-Landscape~iPad</string>
		</dict>
		<key>iPad2/mini Retina Landscape</key>
		<dict>
			<key>Dimensions</key>
			<string>{2048,1536}</string>
			<key>Name</key>
			<string>Default@2x-Portrait~iPad</string>
		</dict>
		<key>iPhone5 Portrait</key>
		<dict>
			<key>Dimensions</key>
			<string>{640,1136}</string>
			<key>Name</key>
			<string>Default-568@2x</string>
		</dict>
		<key>iPhone6/6s Portrait</key>
		<dict>
			<key>Dimensions</key>
			<string>{750,1334}</string>
			<key>Name</key>
			<string>Default-750@2x</string>
		</dict>
		<key>iPhone6/6s plus Portrait</key>
		<dict>
			<key>Dimensions</key>
			<string>{1242,2208}</string>
			<key>Name</key>
			<string>Default-736@3x</string>
		</dict>
	</dict>
</array>
</plist>
